
# Dependencies
node_modules/
.pnp
.pnp.js

# Build Output
dist/
build/
.next/
out/

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Project Specific
backend/auth_info/
backend/auth_info_data/
frontend/.next/

# OS specific
.DS_Store
Thumbs.db
